* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #97c7f3;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating {
    direction: rtl;
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 50px;
    aspect-ratio: 1;
    background-color: #fff;
    border: none;
}

.star:hover,
.star:focus,
.star:hover~.star,
.star:focus~.star {
    background-color: gold;
}